<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Odisee Open Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

    <div class="row">

        <div class="col-sm-8 col-sm-offset-2 content">
            <h1>Monuments in Brussels</h1>
            <p>
                You can search through <strong id="monument-count"></strong> monuments and landscapes in Brussels by name.
            </p>
            <input id="search-input" type="text" class="form-control" placeholder="Search a monument by name" />
        </div>

        <div id="result-container" class="col-sm-8 col-sm-offset-2 result-container">

        </div>

    </div>

    <script src="scripts/fetch.js"></script>
    <script src="scripts/service.js"></script>
    <script>
        $(document).ready(function () {

            // TODO: display monument-count

            // TODO: implement search by name

        });
    </script>
</body>
</html>